# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\rukiye\OneDrive\Masaüstü\JBDLW-6-master\Lecture_6_Minor_Project_1_library-management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
